body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
}
 
a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

/* Menu */

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
} 
 
#main-nav input, #burger-container {
    display: none;
}

#main-nav input:checked ~ #burger-container {
    display: block;
}
 
#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}
 
#main-nav ul {
    list-style: none;
}
 
#main-nav ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: inherit;
}
 
#main-nav ul li {
    border-bottom: 1px solid #efefef;
}
 
#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}
 
#main-nav ul li:last-child {
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 20px;
    max-width: 380px;
}